<% content_for :footer do %>
	<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'  %>
	<%= javascript_include_tag 'angular/angtwo' %>
<% end %>


<div ng-app="appTwo">

	<div ng-controller="MoreController">
		<h1>Incrementing and stopping $watcher</h1>
		<p>{{valuetest}}</p>
		<p>Num equal: {{ num }}</p>
		<p>Num Array is: {{ nums }}</p>
		<button class="btn btn-primary" ng-click="increment()">Increment & add to Array</button>
		<button class="btn btn-danger" ng-click="breakit()">Break it</button>
		<br />
		<hr />
		<h1>NG-cloak</h1>
		<p ng-cloak> {{somedata}} </p>
		<p>Additionally do not forget to add proper CSS for ng-cloak to work properly:</p>
		<p> [ng\cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important} </p>
		<style>[ng\cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important} </style>
		<br />
		<hr />
	</div>
	
	
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> 