<% content_for :head do %>
	<%= stylesheet_link_tag 'angular/index' %>
<% end %>
<% content_for :footer do %>
	<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'  %>
	<%= javascript_include_tag 'angular/index' %>
<% end %>
<div class="container">
 <div ng-app="app">
	<h1>
		First Controller: ng-click, ng-show
	</h1>
		<p>
		Example of Angular bombating: {{ 12 + 5 }}
		</p>
	<div ng-controller="MainController">
		<p>Value is equal to: {{val}} </p>
		<p> {{ func() }}</p>
		<button class="btn btn-primary" ng-click="inc()" >Increment Value</button>
		<h2>ng-show & hide</h2>
		<p ng-show="even">The value choosen is: Even</p>
		<p ng-hide="even">The value choosen is: Odd</p>
	</div>
	<br />
	<hr />
	<h1>Second Controller: ng-model, $index, ng-include</h1>	
	<div ng-controller="SecController">
		<p ng-class="[classVar, 'italic']">Elements of Array</p>
		<div ng-repeat="element in myarr track by $index">
			{{element}}	
			<span ng-show="$first">first</span>	
			<span ng-show="$middle">middle</span>
			<span ng-show="$last">last</span>
			<span ng-show="$even">even</span>
			<span ng-show="$odd">odd</span>	
		</div>
		<div ng-repeat="user in users">
			<strong>{{user.name}}</strong>: {{user.age}}
		</div>
		
		<div>
			<h4 ng-class="{orange: classVar2, italic: classVar2}">Hello there!</h4>
		</div>
		
		<!-- Include demo -->
		<div ng-include="'test.html'"></div>
		<script type="text/ng-template" id="test.html">
			<h1>My template</h1>
		</script>
		
		<!-- ng-model demo -->
		<h4>Input 1</h4>
		<input ng-model="mydata" />
		<h5>{{mydata}}</h5>
		<br />
		<br />
		<h4>Input 2</h4>
		<input ng-model="mydata2" />
		<button ng-click="mydata">Add data</button>
		<h5>Your data is: {{mydata2}}</h5>
		
	</div>
	<br />
	<hr />
	<h1>Third Controller: Scope.$Watch</h1>
	<div ng-controller="ThirdController">
		<input ng-model="datathree.val" />
		<h4>{{datathree.val}}</h4>
		<span ng-show="datathree.toolong" style="color:red;">Name is too long!</span>
		<br />
		<hr />
		
	</div>
	
 </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> 
